%p#notice= notice

%p
  %b Caption:
  %br
  = @photo.caption
  %br
  %b Filename:
  %br
  = @photo.avatar.url
  %br
  %b Photo:
  %br
  = image_tag @photo.avatar.url(:preview)

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
